@import url('https://fonts.googleapis.com/css?family=Ubuntu ');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blur{
  background: url('/img/background.jpg') 
    no-repeat 
    center 
    center/cover;
  position: absolte;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height:calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}
.loading-text{
  font-size: 60px;
  color: #fff;
  position: relative;
}