@import url('https://fonts.googleapis.com/css?family=Ubuntu ');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:hsl(9, 37%, 7%);
}

.blur{
  background: url('img/background.jpg') 
    no-repeat 
    center 
    center/cover;
  position: absolute;
  top: -45px;
  left: -45px;
  width: calc(100vw + 90px);
  height:calc(100vh + 90px);
  z-index: -1;
  filter: blur(0px);
}
.loading-text{
  font-size: 70px;
  color: #fff;
  position: relative;
}
